@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1440px;
  margin: auto;
  padding: 0;
  text-align: center;
}
#ProductsPage{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ProductpageItem{}
#ProductpageFliter{}